<section class="registro-section">
    <div class="container">
        <div class="row gy-5">
            <!-- FORMULARIO -->
            <div class="col-lg-6">
                <h2 class="translate" data-key="register_title"></h2>
                <form class="register-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="custom-input translate-placeholder" data-key="first_name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="custom-input translate-placeholder" data-key="middle_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="custom-input translate-placeholder" data-key="last_name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="custom-input translate-placeholder" data-key="second_last_name">
                        </div>
                    </div>
                    <input type="email" class="custom-input translate-placeholder" data-key="email">
                    <input type="text" class="custom-input translate-placeholder" data-key="phone">
                </form>
            </div>

            <!-- CONTACTO -->
            <div class="col-lg-6">
                <div class="contact-box">
                    <h2 class="translate" data-key="contact_title"></h2>
                    <p class="translate" data-key="contact_city"></p>
                    <p class="translate" data-key="contact_email"></p>
                    <p class="translate" data-key="contact_address"></p>
                    <p class="translate" data-key="contact_nit"></p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-envelope-fill"></i>
                        </a>
                    </div>
                    <img src="../assets/img/logo_horizontal.png" alt="Logo" class="footer-logo">
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="footer-bottom">
            <p class="translate" data-key="footer_created"></p>
            <p>
                <span class="translate" data-key="footer_powered"></span>
            </p>
        </div>
    </div>
</section>